@model TitleComponentModel

<div class="row">
    <div class="col-10">
        <h5>@Model.TitleText</h5>
    </div>
    @if (Model.ActionButtonNeeded == true)
    {
        <div class="col-2">
            <a class="btn btn-success"
               asp-controller="@Model.Controller"
               asp-action="@Model.Action">
                @Model.ActionText
            </a>
        </div>
    }
</div>
<hr />
