
@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("Title",
    new
    {
        TitleText = "Administration and setup",
        ActionButtonNeeded = false
    })

<div class="row">
    <div class="col-3">
        <div class="card h-100">
            <div class="card-header-primary">CRM</div>
            <div class="card-body">
                <a class="dashboard-navigation-items" asp-controller="ContactMethodType" asp-action="Manage">Contact Method Types</a>
                <a class="dashboard-navigation-items" asp-controller="FuelType" asp-action="Manage">Fuel Types</a>
                <a class="dashboard-navigation-items" asp-controller="Gender" asp-action="Manage">Gender</a>
                <a class="dashboard-navigation-items" asp-controller="Title" asp-action="Manage">Title</a>
                <a class="dashboard-navigation-items" asp-controller="VehicleMake" asp-action="Manage">Vehicle Make</a>
                <a class="dashboard-navigation-items" asp-controller="VehicleModel" asp-action="Manage">Vehicle Model</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card h-100">
            <div class="card-header-primary">Shop Floor</div>
            <div class="card-body">
                <a class="dashboard-navigation-items" asp-controller="DiaryAvailability" asp-action="Manage">Diary Availability</a>
                <a class="dashboard-navigation-items" asp-controller="DiaryOption" asp-action="Manage">Diary Options</a>
                <a class="dashboard-navigation-items" asp-controller="JobType" asp-action="Manage">Job Types</a>
                <a class="dashboard-navigation-items" asp-controller="WorkArea" asp-action="Manage">Work Areas</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card h-100">
            <div class="card-header-primary">System</div>
            <div class="card-body">
                <a class="dashboard-navigation-items" asp-controller="SystemJob" asp-action="Manage">System Jobs</a>
            </div>
        </div>
    </div>
</div>
